@charset "UTF-8";

$sidebar_width: 250px;
$sidebar_title_height: 20px;

.p-createmenu {
  margin-left: Calc($sidebar_width);
  background-color: snow;
  &-inner {
    padding: $sidebar_title_height;
    height: calc(100vh - 86px - 40px);
  }
  &-wrapper {
    margin: 0 auto;
    height: 100%;
    width: 400px;
    overflow: scroll;
    border: 1px solid silver;
    border-radius: 5px;
    background-color: lightgray;
  }
  &-canvas {
    position: absolute;
    background-size: 40px 40px;
    background-position: 10px 10px;
    width: 100%;
    background-image: linear-gradient(
        0deg,
        transparent 24%,
        #e4e9f3 25%,
        transparent 27%,
        transparent 74%,
        #e4e9f3 75%,
        transparent 77%
      ),
      linear-gradient(
        90deg,
        transparent 24%,
        #e4e9f3 25%,
        transparent 27%,
        transparent 74%,
        #e4e9f3 75%,
        transparent 77%
      );
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    &__object {
      position: relative;
      word-wrap: break-word;
      width: 50%;
      border: 1px solid silver;
      box-sizing: border-box;
      background-color: white;
      &--name {
        text-align: center;
      }
      &--img {
        height: 100px;
        width: 100px;
        margin: 0 auto;
        border: 1px solid silver;
        border-radius: 15px;
      }
      &--price {
        text-align: right;
      }
    }
  }
}

.p-createmenuheader {
  border-bottom: 1px solid silver;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  &-title {
    margin: auto 0;
  }
}

.p-createmenusidebar {
  position: absolute;
  background-color: white;
  width: $sidebar_width;
  border-right: 1px solid silver;
  z-index: 1;
  &-inner {
    height: calc(100vh - 86px - 40px);
    overflow: scroll;
  }
  &-title {
    height: $sidebar_title_height;
    text-align: center;
    border-bottom: 1px solid silver;
    background-color: snow;
  }
}

.c-createmenuedit {
  &-item {
    padding: 20px;
    border: 1px solid silver;
    border-radius: 5px;
    &__input {
      box-sizing: border-box;
      width: 100%;
    }
  }
}
